[submodule "vendor/windowed"]
	path = vendor/windowed
	url = https://github.com/Retroboi64/windowed.git
[submodule "vendor/numix"]
	path = vendor/numix
	url = https://github.com/Retroboi64/numix.git
[submodule "vendor/probably_fine_log"]
	path = vendor/probably_fine_log
	url = https://github.com/Retroboi64/probably_fine_log.git
